
.main
{
    background-color: blue;
    grid-row: 1/-1;
    grid-column: 1/-1;
}
.main_image{
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 310%;
    height: auto;
    clip-path: polygon(18% 0%, 55% 0%, 55% 100%, 18% 100%);
    margin-left: -72%;
    padding-right: 10%;
     
}
.hamburger{
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 20px;
    width: 30px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 33px;
    transform: rotate(0deg);
    transition: transform .5s;
    z-index: 3;
}
.hamburger_open{
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 20px;
    width: 30px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 33px;
    transform: rotate(90deg);
    transition: transform .5s;
}

.main_title{
    font-family: lust-script-display, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 7rem;
    color: white;
    position: absolute;
    top: 340px;
    left: 50px;
    
    -webkit-transition: left .5s,font-size .5s;
    transition: left 1s, font-size 1s;
    z-index: 1;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);


}
.right_title{
    font-family: lust-script-display, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 6.5rem;
    color: white;
    position: absolute;
    top: 39%;
    left: 26%;
    justify-self: right;
    -webkit-transition: left .5s , font-size .5s;
    transition: left 1s font-size 1s;
    z-index: 1;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);

}


.grey_bar{
    background-color:#4b453a;
    height: 100%;
    width: 25%;
    justify-content: left;
    position: absolute;
    top: 0;
    opacity: 1;
    -webkit-transition: width .5s;
    transition: width .5s;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 160px 50px 60px 50px 60px 50px 60px 50px 60px 60px ;
    z-index: 2;

}
.menu_block{
    grid-row: 1/-1;


}
.blue_bar{
    background-color:#4b453a;
    height: 100%;
    width: 0%;
    justify-content: left;
    position: absolute;
    top: 0;
    grid-row: 1/-1;
    opacity: 1;
    -webkit-transition: width .5s;
    transition: width .5s;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 160px 50px 60px 50px 60px 50px 60px 50px 60px 60px ;
    z-index: 2;
}

.menu_images{
    height: 50px;
    width: auto;
    justify-self: center;
    align-self: center;
    opacity: 1;
    transition: opacity .5s;
}
 .no_menu_images{
    height: 50px;
    width: auto;
    justify-self: center;
    align-self: center;
     opacity: 0;
     transition: opacity .2s;
 }


.menu_title{
    font-family: "brother-1816",sans-serif;
    color: white;
    justify-self: center;
    align-self: flex-start;
    margin-top: 0;
    opacity: 1;
    transition: opacity .5s;
}
.no_menu_title{
    font-family: "brother-1816",sans-serif;
    color: white;
    justify-self: center;
    align-self: flex-start;
    margin-top: 0;
    opacity: 0;
    transition: opacity .5s;

}
 .image_one{
     grid-column: 1/2;
     grid-row: 2/3;
 }
 .title_one{
    grid-column: 1/2;
    grid-row: 3/4;
}

 .image_two{
    grid-column: 1/2;
    grid-row: 4/5;
}
.title_two{
    grid-column: 1/2;
    grid-row: 5/6;
}
.image_three{
    grid-column: 1/2;
    grid-row: 6/7;
}
.title_three{
    grid-column: 1/2;
    grid-row: 7/8;
}

.image_four{
    grid-column: 1/2;
    grid-row: 8/9;
}
.title_four{
    grid-column: 1/2;
    grid-row: 9/10;
}